<article class="cat-card">
    <div class="cat-card-content">
      <img class="cat-card-photo" src="{{url}}">
      <p class="cat-author hidden"> Author: {{author}} </p>
      <p class="cat-caption">{{caption}}</p>
      <button type="button" class="upvote-button"><div> {{votes}} <span class = "upvote-heart" data-index = "{{index}}" ><i class="fa fa-heart"> </i></span></div></button> 
    </div>
</article>
